.features__icons-set {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    background-color: var(--secondary-bg-color);
    background-repeat: no-repeat;
    margin-bottom: 30px;
    border-radius: 4px;
}

.features__icons {
    width: 70px;
    height: 70px;
}

.features__item {
    width: 270px;
    &:nth-child(-n + 3) {
            margin-right: 30px;
        }
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.features {
    display: flex;
}

.features__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
    width: 270px;
}

.features__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondory-text-color);
    width: 270px;
    margin-top: 10px;
}
