:root {
    --primary-text-color: #212121;
    --secondory-text-color: #757575;
    --text-title-color: #ffffff;
    --accent-color: #2196f3;
    --primary-bg-color: #ffffff;
    --secondary-bg-color: #f5f4fa;
    --footer-bg-color: #2f303a;
}